body{
    background-color: rgb(61, 6, 6);
    background-image: url(https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80);
    color: black;

}
.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio h1{
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;

}

h1{
color:rgb(202, 169, 169) ;
}
h2{
    color:rgb(241, 196, 15) ;
}
h3{
    color:rgb(42, 236, 3) ;}
h4{
    color:rgb(20, 58, 251) ;
}
h5{
    color:rgb(243, 22, 228) ;}
h6{
    color:rgb(244, 24, 97) ;}

.primer-parrafo{

    color:azure;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 250;
}
.segundo-parrafo{

    color:rgb(83, 45, 196);
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 250;
}
.galeria{
    display:flex;
    border:10px solid transparent;
    border-image: linear-gradient(to bottom, #531010 30%, #986a6a 90% ) 1;
    overflow-x: scroll;
}

.informacion{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.blanco{

    color: white !important;
}
.carrusel{
    display: flex;
    flex-direction: column;
    align-items: center;}
